* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", sans-serif;
}

/* Macro */
html,
body,
.app {
  height: 100vh;
}

.newsletter {
  background-color: #95d1a9;
  padding: 5px;
  color: white;
  cursor: pointer;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
}

.app-children {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* Homepage component  */

.homepage {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

@keyframes entrance {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.next-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7vw;
}
.next-comp h2 {
  font-size: 20px;
}
.entrance-1 {
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-name: entrance;
}

.entrance-2 {
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-name: entrance;
}
/* #71A894 */
/* Navbar CSS styling */

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 35px;
}

.logo {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-logo {
  width: 45px;
  padding-right: 8px;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  width: 65%;
  height: 100%;
}

.nav-links ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.nav-links ul a:hover {
  color: #95d1a9;
}

.app-children {
  min-height: 100%;
}

/* Presentation page */

.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  flex: 1;
}

.presentation-title-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.presentation-title-section .title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.presentation-title-section .title h2 {
  font-size: 2.5vw;
  padding-bottom: 15px;
}

.presentation-title-section .title p {
  font-size: 1.2vw;
  text-align: center;
}

.illustration {
  width: 55vw;
}

.presentation-illustration {
  width: 100%;
}

/* Idea component */

.idea {
  margin-top: 140px;
  background-color: #95d1a9;
}

.idea h1 {
  padding-top: 50px;
  color: white;
  text-align: center;
}

.objectif {
  display: flex;
  flex-direction: column;
  padding: 68px;
}

.objectif-card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 60px;
}

.objectif-card-wrapper:nth-child(2n) {
  align-self: flex-end;
}

.objectif-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 105px;
  max-width: 680px;
}

.objectif-text-wrapper h3 {
  font-size: 1.9em;
  padding-bottom: 12px;
}

.objectif-text-wrapper p {
  font-size: 1.4em;
  max-width: 900px;
}
.object-img {
  width: 240px;
}

.fridge-illustration {
  width: 150px;
}

/* Sandbox comp */

.fridge-canvas {
  width: 800px !important;
  height: 550px !important;
}

.sandbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.sandbox-animation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 80px;
  flex-wrap: wrap;
}

.faker-phone {
  position: relative;
  background: #2d3436;
  width: calc(76px * 4);
  height: calc(138px * 4);
  padding: 60px 15px 70px;
  border-radius: 35px;
  box-sizing: border-box;
}
.faker-phone::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background: #000;
  opacity: 0.7;
}

.faker-phone::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -22px;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
}

.faker-phone--screen {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: auto;
  position: relative;
}

.phone-page-header {
  margin: 10px;
}

.phone-page-welcome {
  color: #5b5b5b;
  font-size: 19px;
}
.phone-page-title {
  color: white;
  font-size: 22px;
}
.grid-food {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-food-items {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-food-item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
  margin: 3px;
  padding: 5px 8px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  justify-content: space-around;
}

.grid-food-item-image {
  width: 55px;
}

.empty-fridge {
  color: white;
}

.grid-food-header {
  margin-top: 10px;
}

.grid-food-header-input {
  border: none;
  background-color: #101010;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  color: white;
}

.empty-fridge {
  padding: 8px;
}

.filling-fridge,
.waiting-animation {
  margin-top: 20px;
}

.waiting-animation {
  background-color: #101010;
  border-radius: 10px;
  padding: 10px;
  color: white;
  border: none;
}

/* Product comp */

.products {
  padding: 0 80px;
  padding-top: 100px;
}

.product-wrapper {
  padding-top: 200px;
}

.product-wrapper {
  padding: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-img-wrapper {
  position: relative;
}
.product-img-wrapper h3 {
  position: absolute;
  background-color: red;
  color: white;
  padding: 4px;
  top: 0;
  left: 0;
  font-size: 15px;
}

.product-img-wrapper img {
  width: 200px;
}

.product-desc-wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.product-desc-wrapper .product-desc {
  padding: 25px 0;
}

.product-price {
  font-weight: 600;
}

.product-desc-application {
  font-size: 12px;
  padding-top: 4px;
}
