* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", sans-serif;
}

/* Macro */

.menu {
  display: none;
}

.arrow {
  cursor: pointer;
}

.objectif,
.product,
.sandbox {
  padding-bottom: 70px !important;
}

html,
body,
.app {
  height: 100vh;
}

.newsletter {
  background-color: #95d1a9;
  padding: 5px;
  color: white;
  cursor: pointer;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
}

.app-children {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
/* Homepage component  */

.homepage {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

@keyframes entrance {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.next-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.next-comp h3 {
  font-size: 20px;
}
.entrance-1 {
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-name: entrance;
}

.entrance-2 {
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-name: entrance;
}
/* #71A894 */
/* Navbar CSS styling */

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 35px;
}

.logo {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-logo {
  width: 70px;
  padding-right: 2px;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  width: 65%;
  height: 100%;
}

.nav-links ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.nav-links ul a:hover {
  color: #95d1a9;
}

.app-children {
  min-height: 100%;
}

/* Presentation page */

.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
  flex: 1;
}

.presentation-title-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.presentation-title-section .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 100px;
}

.presentation-title-section .title h2 {
  font-size: 2.5vw;
  padding-bottom: 15px;
}

.presentation-title-section .title p {
  font-size: 1.2vw;
  text-align: center;
}

.illustration {
  min-width: 895px;
}

.presentation-illustration {
  width: 100%;
}

/* Idea component */

.idea {
  margin-top: 140px;
  background-color: #95d1a9;
}

.idea h1 {
  padding-top: 50px;
  color: white;
  text-align: center;
}

.objectif {
  display: flex;
  flex-direction: column;
  padding: 68px;
}

.objectif-card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 60px;
}

.objectif-card-wrapper:nth-child(2n) {
  align-self: flex-end;
}

.objectif-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 105px;
  max-width: 810px;
}

.objectif-text-wrapper h3 {
  font-size: 1.8em;
  padding-bottom: 12px;
}

.objectif-text-wrapper p {
  font-size: 1.4em;
}
.object-img {
  width: 240px;
}

.fridge-illustration {
  width: 150px;
}

/* Sandbox comp */

.fridge-canvas {
  width: 500px !important;
  height: 550px !important;
}

.sandbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.sandbox-animation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 80px;
  flex-wrap: wrap;
}

.faker-phone {
  position: relative;
  background: #2d3436;
  width: calc(76px * 4);
  height: calc(138px * 4);
  padding: 60px 15px 70px;
  border-radius: 35px;
  box-sizing: border-box;
}
.faker-phone::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background: #000;
  opacity: 0.7;
}

.faker-phone::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -22px;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
}

.faker-phone--screen {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: auto;
  position: relative;
}

.phone-page-header {
  margin: 10px;
}

.phone-page-welcome {
  color: #5b5b5b;
  font-size: 19px;
}
.phone-page-title {
  color: white;
  font-size: 22px;
}
.grid-food {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-food-items {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-food-item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
  margin: 3px;
  padding: 5px 8px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  justify-content: space-around;
}

.grid-food-item-image {
  width: 55px;
}

.empty-fridge {
  color: white;
}

.grid-food-header {
  margin-top: 10px;
}

.grid-food-header-input {
  border: none;
  background-color: #101010;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  color: white;
}

.empty-fridge {
  padding: 8px;
}

.filling-fridge,
.waiting-animation {
  margin-top: 20px;
}

.waiting-animation {
  background-color: #101010;
  border-radius: 10px;
  padding: 10px;
  color: white;
  border: none;
}

/* Product comp */

.products {
  padding: 0 80px;
  padding-top: 100px;
  background-color: #ededed;
  height: 100%;
  flex: 1;
}

.products-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-wrapper {
  padding-top: 200px;
  padding: 80px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.product-img-wrapper {
  position: relative;
}
.product-img-wrapper h3 {
  position: absolute;
  background-color: red;
  color: white;
  padding: 4px;
  top: 0;
  left: 0;
  font-size: 15px;
}

.product-img-wrapper img {
  width: 300px;
}

.product-desc-wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  padding-left: 180px;
  max-width: 1200px;
}
.product-desc-wrapper .product-desc {
  padding: 25px 0;
}

.product-price {
  font-weight: 600;
}

.product-desc-application {
  font-size: 12px;
  padding-top: 4px;
}

.product-buttons {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-buttons-home {
  padding-top: 30px;
}
.product-buttons-home a,
.product-buttons a {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: black;
  border: 1px black solid;
}

.product-buttons a:last-of-type {
  margin-left: 20px;
}
.product-buttons-home a:hover,
.product-buttons a:hover {
  background-color: #101010;
  color: white;
}

/* Footer comp */
.footer {
  border-top: 1px solid black;
  width: 100%;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}

.footer-about {
  padding: 7px 0;
}

.footer-about ul {
  list-style: none;
}

.footer-about ul li {
  padding-top: 10px;
  cursor: pointer;
}

.footer-about ul li a {
  text-decoration: none;
  color: black;
}
.footer-links {
  border-top: 1px solid black;
  padding-top: 15px;
  width: 100%;
}
.footer-links h4 {
  padding: 10px 0;
}
.footer-link {
  margin-top: 7px;
  margin-right: 15px;
  width: 35px;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .product-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .product-desc-wrapper {
    max-width: none;
  }
  .presentation-title-section .title h2 {
    font-size: 3vw;
  }
  .presentation-title-section .title p {
    font-size: 1.8vw;
  }
  .presentation-title-section {
    flex-direction: column;
    min-width: 5900px;
  }
  .brand-text {
    min-width: 80%;
  }
  .products-wrapper {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1490px) {
  .illustration {
    min-width: 660px;
  }
}

/* Brand component */

section {
  padding-top: 40px;
  padding-left: 50px;
}

.brand {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand-company,
.brand-team {
  padding: 0;
}
.brand-team-desc {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f7f5;
}
.brand-team-desc h2 {
  padding-bottom: 50px;
}
.brand-team-desc ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 50px;
}
.ceo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-team-desc ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
}
.job-pre h4 {
  padding-top: 0.5rem;
}
.job-pre p {
  font-size: 15px;
}

.brand-team-desc ul li img {
  width: 180px;
  height: 200px;
  object-fit: cover;
}
.ceo img {
  width: 200px;
  object-fit: cover;
  height: 180px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding-left: 50px;
}

.brand-text p {
  padding-top: 28px;
}

.brand-topo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.brand-topo p {
  padding-top: 28px;
}

.brand-company-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-company-text .brand-company-text-title {
  align-self: flex-start;
}

section.brand-vision {
  padding-top: 80px;
}
.brand-vision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.meeting {
  padding-top: 50px;
  width: 500px;
}
.brand-informations {
  padding-top: 80px;
}

.brand-clients {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-informations-text {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-informations-text p {
  padding-top: 25px;
  width: 90%;
}

.brand-team-desc .team-desc {
  padding-top: 50px;
  text-align: center;
  width: 50%;
}

/* Contact comp */

.contact {
  padding-top: 180px;
}
.contact-info {
  text-align: center;
}
.contact-info h4 {
  padding-top: 15px;
}
form {
  display: flex;
  padding-top: 38px;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-top: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

/* Responsive */

@media screen and (max-width: 920px) {
  .overflow-hidden {
    overflow: hidden;
  }
  .nav-links ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .none {
    display: none !important;
  }
  .menu {
    display: block;
  }

  .navbar {
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .nav-links {
    margin-top: 70px;
    padding-top: 85px;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #fff;
    top: 0;
    left: 0;
  }
  .nav-links ul a {
    width: 100%;
    text-align: center;
    height: 100%;
  }
  .product-desc-wrapper {
    padding: 50px 0;
  }
  .product-wrapper {
    padding: 50px;
  }
  .presentation-title-section .title h2 {
    font-size: 3.8vw;
  }
  .presentation-title-section .title p {
    font-size: 2.3vw;
  }
  .presentation {
    padding-top: 10px;
  }
  .objectif-card-wrapper {
    flex-direction: column;
  }
  .objectif {
    padding: 100px 0;
    align-items: center;
    justify-content: center;
  }

  .brand-team-desc ul li {
    padding: 5px;
  }
  .brand-text {
    padding: 0;
  }
  .objectif-text-wrapper {
    margin: 40px;
    text-align: center;
  }
}
